body {
  background-color:olive;
}
h1 {
  font-size: 24;
  text-align: center;
  color: plum
}
h2 {
  text-align: center;
}
img {
  margin: auto;
  height: auto;
  width: 90%;
  display: block;
}
.main {
  display: flex;
  justify-content: center;
}
.my-class {
  width: 100;
  border: 2px solid purple;
  padding: 500px;
  background-color: rgb(235, 167, 43);
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.column {
  width: 400px;
  float: left;
  padding: 50px;
  margin: 8px 20px;
  font-size: 16px;
  background-color: rgba(165, 132, 42, 0.842);
  box-sizing: border-box;
}
.important h1 {
  font-size: 18;
  font-style: italic;
  color: plum;
}
.dark-background { 
  background-color: darkblue;
}
.light-background {
  background-color: skyblue;
}